
############## OpenShift Container Platform {{ ocp_minor }} ##################

  - name: "ocp-release"
    product: "OpenShift Container Platform {{ ocp_minor }}"
    content_type: "docker"
    download_policy: "immediate"
    mirroring_policy: "additive"

  - name: "ocp-v4.0-art-dev"
    product: "OpenShift Container Platform {{ ocp_minor }}"
    content_type: "docker"
    download_policy: "immediate"
    mirroring_policy: "additive"
